@model WebStore.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Подробно</h2>

<p>Name: @Model.FirstName</p>
<p>SurName: @Model.SurName</p>
<p>Patronymic: @Model.Patronymic</p>
<p>BirhDay: @Model.BirthDay</p>

@Html.ActionLink("Назад", "Index")
